$colors: (
        primary: #1ccdca,
        secondary: #19b8b5,
        progresbarbg: #3c464d,
        progresbarsecondary: #14181b,
        webdesign: #0bacb8,
        programing: #3a94b2,
        html: #1ccdca,
        wordpres: #00c194,
        redlight: #e74c3c,
        reddark: #cf2c1d,
        slidertext: #aaa,
        headericon: #777777,
        borders: #eaebed,
        maps: #684962,
);
.sticky-top {
  background: white;
}
#top_head {
  border-bottom: map_get($colors, borders) solid 1px;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown > .dropdown-toggle:active {
  pointer-events: none;
}

#section_bg {
  background-image: url("../css/img/bg_header4.jpg");
  background-size: cover;
}

#progress_barr {
  .progress {
    margin-bottom: 30px;
    height: 35px;
  }

  padding: 90px 50px;
  background-color: map_get($colors, progresbarbg);

  .progress {
    background-color: map_get($colors, progresbarsecondary);
    margin: 0 50px 30px 50px;
  }

  div {
    h2 {
      margin: 20px 50px;
      color: white;
    }

    p {
      margin: 0 50px 30px 50px;
      color: gray;
    }
  }
}

.icon {
  font-size: 30px;
  color: aqua;
  position: absolute;
  top: 25px;
  left: 25px;
  text-align: center;
}

#slider {
  background-color: #14181b;

  #slider_bot {
    padding: 50px 15px;
  }

  h4 {
    color: white;
    text-align: center;
    margin-bottom: 15px;
  }

  p {
    text-align: center;
  }
}

.circle {
  border-radius: 100%;
  border: 1px solid aqua;
  width: 80px;
  height: 80px;

  span {
    position: relative;
  }
}

.progress-bar {
  transition: 3s;
  width: 0;
  position: relative;
}

.nav-item {
  a {
    padding: 6px 25px;
  }
}

.navbar {
  input {
    border-radius: 20px;
  }

  button {
    background: none;
    border-radius: 50%;
  }
}

.tab-content {
  border-bottom: #e5e5e5 solid 1px;
  border-left: #e5e5e5 solid 1px;
  border-right: #e5e5e5 solid 1px;
  padding: 20px 25px;
}

.spacer {
  padding: 90px 0;
}

#slash {
  font-size: 28px;
}

.borders {
  border-bottom: map_get($colors, borders) solid 1px;
  border-top: map_get($colors, borders) solid 1px;
}

.grow .circle {
  transition: all .25s ease-in-out;
}

.grow {
  h6 {
    transition: all .35s ease-in-out;
  }

  img {
    transition: all .35s ease-in-out;
  }
}

.grow :hover {
  .circle {
    background: map_get($colors, primary);
    transform: scale(1.1);

    i {
      color: white;
    }
  }

  h6 {
    color: map_get($colors, primary);
  }

  .img {
    transform: scale(1.1);
  }
}

.color {
  i {
    color: map_get($colors, primary);
  }

  span {
    color: map_get($colors, primary);
  }
}

#personel {
  text-align: center;
  font-size: 27px;
  font-weight: lighter;
}

.team-photo {
  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid grey;
    padding: 5px;
    background: white;
  }
}

.text {
  text-align: right;

  a {
    border-radius: 50%;
    border: map_get($colors, borders) solid 1px;
    background: white;
    padding: 4px;

    i {
      width: 20px;
      height: 20px;
      text-align: center;
    }
  }
}

.text2 {
  text-align: left;
  a {
    border-radius: 50%;
    border: map_get($colors, borders) solid 1px;
    background: white;
    padding: 4px;

    i {
      width: 20px;
      height: 20px;
      text-align: center;
    }
  }
}
.text3 {
  color: map_get($colors,primary);
}
.red {
  span {
    background: map_get($colors, redlight);
    color: white;
  }

  a {
    background: map_get($colors, reddark);
  }
}

.circle2 {
  button {
    border-radius: 100%;
    border: 1px solid aqua;
    background: map_get($colors,primary);
    width: 80px;
    height: 80px;
    i {
      color: white;
    }
  }
}

.grow2 {
  h5 {
    transition: all .25s ease-in-out;
  }
}

.grow2:hover {
  h5 {
    color: map_get($colors,primary);
  }
}
#form {
  h4 {
    color: map_get($colors,primary);
    i {
      color: map_get($colors,primary);
    }
  }
  input {
    border: map_get($colors,borders) solid 1px;
    width: 100%;
    border-radius: 4px;
  }
  textarea {
    width: 100%;
    border-radius: 4px;
    min-height: 200px;
    border: map_get($colors,borders) solid 1px;
  }
  button {
    border: none;
    width: 100%;
    background: map_get($colors,primary);
    transition: 1s;
  }
}
#form button:hover {
  background: map_get($colors,progresbarbg);
}
#map_text {
  background: map_get($colors,maps);
  h4 {
    color: white;
  }
}
iframe {
  width: 100%;
  height: 350px;
}
footer {
  .smal-img {
    width: 90px;
    height: 60px;
  }

}