.sticky-top {
  background: white; }

#top_head {
  border-bottom: #eaebed solid 1px; }

.dropdown:hover > .dropdown-menu {
  display: block; }

.dropdown > .dropdown-toggle:active {
  pointer-events: none; }

#section_bg {
  background-image: url("../css/img/bg_header4.jpg");
  background-size: cover; }

#progress_barr {
  padding: 90px 50px;
  background-color: #3c464d; }
  #progress_barr .progress {
    margin-bottom: 30px;
    height: 35px; }
  #progress_barr .progress {
    background-color: #14181b;
    margin: 0 50px 30px 50px; }
  #progress_barr div h2 {
    margin: 20px 50px;
    color: white; }
  #progress_barr div p {
    margin: 0 50px 30px 50px;
    color: gray; }

.icon {
  font-size: 30px;
  color: aqua;
  position: absolute;
  top: 25px;
  left: 25px;
  text-align: center; }

#slider {
  background-color: #14181b; }
  #slider #slider_bot {
    padding: 50px 15px; }
  #slider h4 {
    color: white;
    text-align: center;
    margin-bottom: 15px; }
  #slider p {
    text-align: center; }

.circle {
  border-radius: 100%;
  border: 1px solid aqua;
  width: 80px;
  height: 80px; }
  .circle span {
    position: relative; }

.progress-bar {
  transition: 3s;
  width: 0;
  position: relative; }

.nav-item a {
  padding: 6px 25px; }

.navbar input {
  border-radius: 20px; }

.navbar button {
  background: none;
  border-radius: 50%; }

.tab-content {
  border-bottom: #e5e5e5 solid 1px;
  border-left: #e5e5e5 solid 1px;
  border-right: #e5e5e5 solid 1px;
  padding: 20px 25px; }

.spacer {
  padding: 90px 0; }

#slash {
  font-size: 28px; }

.borders {
  border-bottom: #eaebed solid 1px;
  border-top: #eaebed solid 1px; }

.grow .circle {
  transition: all .25s ease-in-out; }

.grow h6 {
  transition: all .35s ease-in-out; }

.grow img {
  transition: all .35s ease-in-out; }

.grow :hover .circle {
  background: #1ccdca;
  transform: scale(1.1); }
  .grow :hover .circle i {
    color: white; }

.grow :hover h6 {
  color: #1ccdca; }

.grow :hover .img {
  transform: scale(1.1); }

.color i {
  color: #1ccdca; }

.color span {
  color: #1ccdca; }

#personel {
  text-align: center;
  font-size: 27px;
  font-weight: lighter; }

.team-photo img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid grey;
  padding: 5px;
  background: white; }

.text {
  text-align: right; }
  .text a {
    border-radius: 50%;
    border: #eaebed solid 1px;
    background: white;
    padding: 4px; }
    .text a i {
      width: 20px;
      height: 20px;
      text-align: center; }

.text2 {
  text-align: left; }
  .text2 a {
    border-radius: 50%;
    border: #eaebed solid 1px;
    background: white;
    padding: 4px; }
    .text2 a i {
      width: 20px;
      height: 20px;
      text-align: center; }

.text3 {
  color: #1ccdca; }

.red span {
  background: #e74c3c;
  color: white; }

.red a {
  background: #cf2c1d; }

.circle2 button {
  border-radius: 100%;
  border: 1px solid aqua;
  background: #1ccdca;
  width: 80px;
  height: 80px; }
  .circle2 button i {
    color: white; }

.grow2 h5 {
  transition: all .25s ease-in-out; }

.grow2:hover h5 {
  color: #1ccdca; }

#form h4 {
  color: #1ccdca; }
  #form h4 i {
    color: #1ccdca; }

#form input {
  border: #eaebed solid 1px;
  width: 100%;
  border-radius: 4px; }

#form textarea {
  width: 100%;
  border-radius: 4px;
  min-height: 200px;
  border: #eaebed solid 1px; }

#form button {
  border: none;
  width: 100%;
  background: #1ccdca;
  transition: 1s; }

#form button:hover {
  background: #3c464d; }

#map_text {
  background: #684962; }
  #map_text h4 {
    color: white; }

iframe {
  width: 100%;
  height: 350px; }

footer .smal-img {
  width: 90px;
  height: 60px; }
